* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.projects,
.about-me,
.contact-me {
  display: flex;
  height: calc(100vh - 80px);
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.projects {
  background-image: url('/src/images/sand.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 75px;
}

.img-container {
  text-align: center;
  padding-top: 60px;
}
.about-me-images {
  display: inline-block;
  margin: 5px 20px;
  padding: 20px;
  border-radius: 30px;
}
.about-me {
  background-image: url('/src/images/mountain.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 75px;
}
.about {
  padding: 60px 20%;
  color: #242424;
  font-size: 20px;
  line-height: 200%;
}

.contact-me-container {
  text-align: center;
}
.contact {
  padding: 60px;
  padding-left: 150px;
  padding-right: 150px;
  color: #242424;
  font-size: 40px;
  line-height: 200%;
}

.contact-me {
  background-image: url('/src/images/city.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(255, 255, 255);
  font-size: 75px;
}

.contact-email {
  font-size: 30px;
}

.social-icon-link {
  color: #fff;
  font-size: 24px;
}

.social-media {
  max-width: 1000px;
  width: 100%;
}

/* .social-media-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1000px;
  margin: 40px auto 0 auto;
} */

.social-icons {
  display: flex;
  padding: 5% 40%;
  text-align: center;
  justify-content: space-around;
}
.social-icon {
  color: black;
  font-size: 40px;
}

/* .social-logo {
  color: #fff;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
} */

@media only screen and (max-width: 425px) {
  .contact-me,
  .projects,
  .about-me {
    font-size: 50px;
  }
  .about-me-images {
    width: 80%;
    height: auto;
  }
  /* .social-icons {
    font-size: 12px;
    padding: 0 5% 20%;
  } */
}
@media only screen and (max-width: 700px) {
  .contact {
    font-size: 25px;
    padding: 3%;
  }
  .contact-email {
    font-size: 20px;
  }
  .social-icons {
    padding: 5% 20% 15%;
  }
}
@media only screen and (max-width: 1080px) {
  .about {
    padding: 0 7% 25%;
  }
  .ucla-img {
    display: none;
  }
}
